deploy/node_red/recamera_control_bridge.json
[
  {"id":"rc-tab","type":"tab","label":"reCamera Control Bridge","disabled":false,"info":"HTTP bridge for recamera_multimodal single control plane"},
  {"id":"rc-http-command","type":"http in","z":"rc-tab","name":"POST command","url":"/recamera-control/v1/command","method":"post","upload":false,"swaggerDoc":"","x":130,"y":80,"wires":[["rc-json-command"]]},
  {"id":"rc-json-command","type":"json","z":"rc-tab","name":"JSON body","property":"payload","action":"obj","pretty":false,"x":320,"y":80,"wires":[["rc-validate-command"]]},
  {"id":"rc-validate-command","type":"function","z":"rc-tab","name":"Validate and route","func":"const p = msg.payload || {};\nconst mode = p.mode === 'delta' ? 'delta' : 'absolute';\nconst yaw = p.yaw === null || p.yaw === undefined ? (mode === 'delta' ? 0 : flow.get('rcYaw')) : Number(p.yaw);\nconst pitch = p.pitch === null || p.pitch === undefined ? (mode === 'delta' ? 0 : flow.get('rcPitch')) : Number(p.pitch);\nconst ys = Math.max(1, Math.min(720, Number(p.yaw_speed || 180)));\nconst ps = Math.max(1, Math.min(720, Number(p.pitch_speed || 180)));\nif (!Number.isFinite(yaw) || !Number.isFinite(pitch)) { msg.statusCode=400; msg.payload={ok:false,error:'invalid_angles'}; return [null,null,msg]; }\nconst motor = RED.util.cloneMessage(msg);\nmotor.payload={yaw_angle:yaw,yaw_speed:ys,pitch_angle:pitch,pitch_speed:ps};\nconst response = RED.util.cloneMessage(msg); response.statusCode=202; response.payload={ok:true,accepted:true,mode};\nreturn mode === 'delta' ? [null,motor,response] : [motor,null,response];","outputs":3,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":80,"wires":[["rc-set-absolute"],["rc-set-delta"],["rc-http-command-response"]]},
  {"id":"rc-set-absolute","type":"set-motor-angle","z":"rc-tab","name":"Dual axis absolute","input":"payload","input-type":"msg","output":"4","unit":"0","x":790,"y":40,"wires":[]},
  {"id":"rc-set-delta","type":"set-motor-angle","z":"rc-tab","name":"Dual axis delta","input":"payload","input-type":"msg","output":"5","unit":"0","x":780,"y":80,"wires":[]},
  {"id":"rc-http-command-response","type":"http response","z":"rc-tab","name":"Command accepted","statusCode":"","headers":{},"x":800,"y":120,"wires":[]},

  {"id":"rc-http-stop","type":"http in","z":"rc-tab","name":"POST stop","url":"/recamera-control/v1/stop","method":"post","upload":false,"swaggerDoc":"","x":120,"y":180,"wires":[["rc-exec-stop"]]},
  {"id":"rc-exec-stop","type":"exec","z":"rc-tab","command":"gimbal stop 1; gimbal stop 2","addpay":"","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"Stop both motors","x":350,"y":180,"wires":[[],[],["rc-stop-result"]]},
  {"id":"rc-stop-result","type":"function","z":"rc-tab","name":"Stop result","func":"const code=Number((msg.payload&&msg.payload.code)??msg.payload??0); msg.statusCode=code===0?200:500; msg.payload=code===0?{ok:true,stopped:true}:{ok:false,error:'stop_failed',code}; return msg;","outputs":1,"x":570,"y":180,"wires":[["rc-http-stop-response"]]},
  {"id":"rc-http-stop-response","type":"http response","z":"rc-tab","name":"Stop response","statusCode":"","headers":{},"x":790,"y":180,"wires":[]},

  {"id":"rc-status-tick","type":"inject","z":"rc-tab","name":"Read motors 2 Hz","props":[{"p":"payload"}],"repeat":"0.5","crontab":"","once":true,"onceDelay":"0.5","topic":"","payload":"","payloadType":"date","x":130,"y":300,"wires":[["rc-get-yaw","rc-get-pitch","rc-get-yaw-speed","rc-get-pitch-speed"]]},
  {"id":"rc-get-yaw","type":"get-motor-angle","z":"rc-tab","name":"Read yaw","output":"0","unit":"0","x":350,"y":260,"wires":[["rc-cache-yaw"]]},
  {"id":"rc-get-pitch","type":"get-motor-angle","z":"rc-tab","name":"Read pitch","output":"1","unit":"0","x":350,"y":300,"wires":[["rc-cache-pitch"]]},
  {"id":"rc-get-yaw-speed","type":"get-motor-speed","z":"rc-tab","name":"Read yaw speed","output":"0","x":370,"y":340,"wires":[["rc-cache-yaw-speed"]]},
  {"id":"rc-get-pitch-speed","type":"get-motor-speed","z":"rc-tab","name":"Read pitch speed","output":"1","x":370,"y":380,"wires":[["rc-cache-pitch-speed"]]},
  {"id":"rc-cache-yaw","type":"function","z":"rc-tab","name":"Cache yaw","func":"flow.set('rcYaw',Number(msg.payload)); flow.set('rcStatusAt',Date.now()); return null;","outputs":0,"x":600,"y":260,"wires":[]},
  {"id":"rc-cache-pitch","type":"function","z":"rc-tab","name":"Cache pitch","func":"flow.set('rcPitch',Number(msg.payload)); flow.set('rcStatusAt',Date.now()); return null;","outputs":0,"x":600,"y":300,"wires":[]},
  {"id":"rc-cache-yaw-speed","type":"function","z":"rc-tab","name":"Cache yaw speed","func":"flow.set('rcYawSpeed',Number(msg.payload)); return null;","outputs":0,"x":620,"y":340,"wires":[]},
  {"id":"rc-cache-pitch-speed","type":"function","z":"rc-tab","name":"Cache pitch speed","func":"flow.set('rcPitchSpeed',Number(msg.payload)); return null;","outputs":0,"x":620,"y":380,"wires":[]},

  {"id":"rc-http-status","type":"http in","z":"rc-tab","name":"GET status","url":"/recamera-control/v1/status","method":"get","upload":false,"swaggerDoc":"","x":120,"y":460,"wires":[["rc-build-status"]]},
  {"id":"rc-build-status","type":"function","z":"rc-tab","name":"Build real readback","func":"const ts=Number(flow.get('rcStatusAt')||0); const yaw=flow.get('rcYaw'); const pitch=flow.get('rcPitch'); const fresh=ts>0 && Date.now()-ts<2000; msg.statusCode=fresh?200:503; msg.payload={connected:fresh,yaw:yaw??null,pitch:pitch??null,yaw_speed:flow.get('rcYawSpeed')??null,pitch_speed:flow.get('rcPitchSpeed')??null,timestamp:ts,source:'motor_readback'}; return msg;","outputs":1,"x":360,"y":460,"wires":[["rc-http-status-response"]]},
  {"id":"rc-http-status-response","type":"http response","z":"rc-tab","name":"Status response","statusCode":"","headers":{},"x":600,"y":460,"wires":[]}
]
